<!-- app/views/games/index.html.erb -->
<h1>Upcoming Games</h1>

<% @games.each do |game| %>
  <div>
    <h2><%= game.activity.name %> Game</h2>
    <p><%= game.location %></p>
    <%= link_to 'Join', join_game_path(game), method: :post %>
  </div>
<% end %>
